{% extends "security/layout.html.twig" %}

{% block title %}
    Connexion à la plateforme
{% endblock %}

{% block body %}

    <form id="signinForm" method="post" class="form-signin rounded" action="{{ path('login') }}">
        <a href="{{ path('homepage') }}" class="brand text-center">
            <img src="{{ asset('backend/img/logo-dark.png') }}" srcset="{{ asset('backend/img/logo-dark@2x.png 2x') }}" alt=""/>
        </a>
        <h2 class="form-signin-heading">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% else %}
                connexion
            {% endif %}
        </h2>

        <div class="form-group">
            <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="Login" class="form-control form-control-pill" />
        </div>

        <div class="form-group">
            <input type="password" class="form-control form-control-pill" id="password" name="_password" placeholder="Mot de passe" />
        </div>

        <div class="checkbox mb-4 mt-4">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">
                        Se souvenir de moi
                    </span>
            </label>
            <a href="#" class="float-right text-muted">Mot de passe oublié ?</a>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <input type="hidden" name="_target_path" value="{{ path('homepage') }}">


        <div class="form-group ">
            <button type="submit" class="btn btn-lg btn-pill btn-block btn-primary" name="signup" value="Connexion">Connexion</button>
        </div>
    </form>
{% endblock %}