{% extends 'backend_layout.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
    <main class="main-content">
        <div class="page-title">
            <h4 class="mb-0"> Gestion des articles
                <small></small>
            </h4>
            <ol class="breadcrumb mb-0 pl-0 pt-1 pb-0">
                <li class="breadcrumb-item"><a href="#" class="default-color">Accueil</a></li>
                <li class="breadcrumb-item active">liste des articles</li>
            </ol>
        </div>

        <div class="container-fluid">


            <div class="row mt-5 mb-3">
                <div class="col-md-12 text-right">
                    <a href="{{ path('post_new') }}" class="btn  btn-light"><i class="fa fa-plus"></i> Ajouter un article</a>
                </div>
                <br>
            </div>

            <div class="card-deck">
                {% for post in posts %}
                    <div class="col-md-4 col-sm-6">
                        <div class="card mb-4">
                            <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.titre }}" title="{{ post.titre }}"  class="card-img-top img-fluid"/>
                            <div class="card-body">
                                <h5 class="card-title">{{ post.titre }}</h5>
                                <p class="card-text">{{ post.resume|raw }}</p>
                                <a href="#" class="btn btn-outline-danger">Apperçu</a>
                                <a href="{{ path('post_show', {'slug': post.slug}) }}" class="btn btn-outline-primary">> Lire la suite</a>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Publié le {{ post.publieLe|date('d-m-Y H:i:s') }} par {{ post.publiePar }}</small>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </main>
{% endblock %}